body{
font-family:Arial;
background:black;
}

.container{
width:500px;
margin:auto;
margin-top:80px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
text-align:center;
}

.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
}

button{
padding:10px 15px;
background:#5d2ecc;
border:none;
color:white;
cursor:pointer;
}

li{
display:flex;
justify-content:space-between;
padding:10px;
border-bottom:1px solid #ddd;
}

.completed{
text-decoration:line-through;
color:gray;
}